<meta charset="UTF-8">
<div xmlns:th="http://www.thymeleaf.com" th:fragment="js">
    <!-- Script-->
    <script type="text/javascript" th:src="@{/plugins/jquery/jquery-1.11.2.min.js}"></script>
    <script type="text/javascript" th:src="@{/plugins/bootstrap/js/bootstrap.js}"></script>
    <script type="text/javascript" th:src="@{/plugins/select2/js/select2.js}"></script>
    <script type="text/javascript" th:src="@{/plugins/owl.carousel/owl.carousel.js}"></script>
    <!-- 放大镜效果 -->
    <script type="text/javascript" th:src="@{/plugins/elevatezoom/jquery.elevatezoom.js}"></script>
    <script type="text/javascript" th:src="@{/plugins/jquery-ui/jquery-ui.js}"></script>
    <!-- 弹出框插件 -->
    <script type="text/javascript" th:src="@{/plugins/fancyBox/jquery.fancybox.js}"></script>
    <!-- jQuery倒计时插件 -->
    <script type="text/javascript" th:src="@{/plugins/countdown/jquery.plugin.js}"></script>
    <script type="text/javascript" th:src="@{/plugins/countdown/jquery.countdown.js}"></script>
    <!-- jQuery库插件  目的：获取不可见的元素的宽度或高度。  菜单栏侧拉框的宽度-->
    <script type="text/javascript" th:src="@{/plugins/jquery.actual/jquery.actual.min.js}"></script>
    <!-- jQuery库插件  目的：获取不可见的元素的宽度或高度。  菜单栏侧拉框的宽度-->
    <script type="text/javascript" th:src="@{/plugins/jquery.actual/jquery.actual.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/theme-script.js}"></script>
    <script type="text/javascript" th:src="@{/js/main.js}"></script>
</div>